<!--THIS IS THE FOOTER OF THE PAGE-->

<!--LINES AND BACKGROUND FOR THE FOOTER-->
<br />
<div class="responsive-footer mt-3">
    <footer>
        <div class="rectangle2"></div>
        <div class="rectangle"></div>
        <div class="rectangle3">
            <!--FOOTER-->
            <div class="socialbtns">
                <ul>
                    <li><a href="https://twitter.com/IngenicI" class="fa fa-lg fa-twitter" alt="Link to INGENIC's Twitter account"></a></li>
                    <li><a href="https://www.linkedin.com/groups/13676439?trk=public_profile_group" class="fa fa-lg fa-linkedin" alt="Link to INGENIC's Linkedin group"></a></li>
                </ul>
                <span>
         	    &copy; A website made for INGENIC by Lilith Sylvia Daisy Tamm, Enya Hand, and Daisy Muyldermans
                </span>
            </div>
        </div>
    </footer>
</div>
<!--END FOOTER-->