<!--THIS IS THE HEADER AND NAVIGATION OF THE PAGE-->

<!-- BOOTSTRAP JQUERY, POPPER.JS, JS PLUGINS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!-- LOGO -->
<nav class="navbar">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png" width="300" height="100" alt="INGENIC logo">
    </a>
    <p>Irish Network for Gender Equality at National 3rd level Institutions for Computing</p>
</nav>
<!--END LOGO-->

<div class="rectangle"></div>
<div class="rectangle2"></div>
<br>
<div class="container">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarText">
                <ul class="navbar-nav">
                    <li class="nav-item active mx-4">
                        <a <% if (currentPage == "home") { %> id="customLinkActive" <% } else { %>id="customLink1" <% } %> class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a <% if (currentPage == "about") { %> id="customLinkActive" <% } else { %>id="customLink2" <% } %> class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item dropdown mx-4">
                        <a class="nav-link dropdown-toggle" <% if (currentPage == "institutions" || currentPage == "courses") { %> id="customLinkActive" <% } else { %>id="customLink3" <% } %>
                           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Academic Resources
                        </a>
                        <div class="dropdown-menu p-0 w-100" aria-labelledby="navbarDropdown">
                            <a <% if (currentPage == "institutions") { %> id="dropLinkActive" <% } else { %>id="dropLink1" <% } %> class="nav-link dropdown-item" href="/institutions">Institutions
                                Involved</a>
                            <a <% if (currentPage == "courses") { %> id="dropLinkActive" <% } else { %>id="dropLink2" <% } %> class="nav-link dropdown-item" href="/courses">Courses</a>
                        </div>
                    </li>

                    <li class="nav-item mx-4">
                        <a <% if (currentPage == "news") { %> id="customLinkActive" <% } else { %>id="customLink4" <% } %> class="nav-link" href="/news">News</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a <% if (currentPage == "resources") { %> id="customLinkActive" <% } else { %>id="customLink5" <% } %> class="nav-link" href="/resources">Useful Links</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a <% if (currentPage == "contact") { %> id="customLinkActive" <% } else { %>id="customLink6" <% } %> class="nav-link" href="/contact">Contact</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
</div>