<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="INGENIC Irish Network for Gender Equality at National 3rd level Institutions for Computing ">
    <meta name="keywords" content="women, computing, third level education">
    <meta name="author" content="Daisy Muyldermans, Enya Hand, Lilith Tamm">
    <title>Contact INGENIC</title>
    <link rel="icon" type="image/ico" href="images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="../main.js"></script>
    <link type="text/css" rel="stylesheet" href="/main.css"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!--INCLUDING HEADER AND NAVIGATION FROM EJS HEADER-->
<% include ../partials/header.ejs %>

<div class="container">
    <br/>
    <h1 class="menu">Contact Us</h1>
    <br/>
    <div class="row">
        <div class="col-sm">
            <div class="card mx-auto">
                <img src="/images/person1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jane Doe</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Student Co-ordinator</h6>
                    <p class="mb-1 card-text"><strong>Email:</strong> <a href="#">example@ingenic.com</a></p>
                    <p class="card-text"><strong>Phone:</strong> <a href="#">+353 1 234 5678</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mx-auto">
                <img src="/images/person2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Maria Swan</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Partnership Co-ordinator</h6>
                    <p class="mb-1 card-text"><strong>Email:</strong> <a href="#">example@ingenic.com</a></p>
                    <p class="card-text"><strong>Phone:</strong> <a href="#">+353 1 234 5678</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mx-auto">
                <img src="/images/person3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rita Chase</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Vice President</h6>
                    <p class="mb-1 card-text"><strong>Email:</strong> <a href="#">example@ingenic.com</a></p>
                    <p class="card-text"><strong>Phone:</strong> <a href="#">+353 1 234 5678</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card mx-auto">
                <img src="/images/person4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Niamh Doyle</h5>
                    <h6 class="card-subtitle mb-2 text-muted">President</h6>
                    <p class="mb-1 card-text"><strong>Email:</strong> <a href="#">example@ingenic.com</a></p>
                    <p class="card-text"><strong>Phone:</strong> <a href="#">+353 1 234 5678</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--INCLUDE FOOTER FROM EJS FOOTER-->
<% include ../partials/footer.ejs %>

</body>

</html>