<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="INGENIC Irish Network for Gender Equality at National 3rd level Institutions for Computing ">
    <meta name="keywords" content="women, computing, third level education">
    <meta name="author" content="Daisy Muyldermans, Enya Hand, Lilith Tamm">
    <title>INGENIC - Resources</title>
    <link rel="icon" type="image/ico" href="images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="../main.js"></script>
    <link type="text/css" rel="stylesheet" href="/main.css"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!--INCLUDING HEADER AND NAVIGATION FROM EJS HEADER-->
<% include ../partials/header.ejs %>

<!--RESOURCES LINKS AND ANY IMAGES-->
<div class="container">
    <br/>
    <h1 class="menu">Resources</h1>
    <br/>
    <div class='embed-container'>
        <iframe src='https://www.youtube.com/embed/vPuyDbQwfHs' allowfullscreen></iframe>
    </div>
    <br />
    <h5 class="mt-0">Industry Initiatives</h5>
    <div class="list-group">
        <a href="http://www.cwit.ie/" class="list-group-item list-group-item-action">Connecting Women in Technology</a>
    </div>
    <br />
    <h5 class="mt-0">Initiatives for Third Level Students</h5>
    <div class="list-group">
        <a href="https://community.anitab.org/groups/dublin/" class="list-group-item list-group-item-action">Anita
            B.</a>
        <a href="https://women.acm.org/" class="list-group-item list-group-item-action">Association for Computing
            Machinery</a>
        <a href="https://www.facebook.com/engenderit/" class="list-group-item list-group-item-action">Engenderit</a>
    </div>
    <br />
    <h5>Initiatives for Secondary Level Students</h5>
    <div class="list-group">
        <a href="http://www.iwish.ie/" class="list-group-item list-group-item-action">I wish</a>
        <a href="https://www.computing.dcu.ie/event/computety" class="list-group-item list-group-item-action">Compute
            TY</a>
        <a href="https://www.csforall.org/" class="list-group-item list-group-item-action">CS for All</a>
        <a href="http://bridge21.ie/codeplus/" class="list-group-item list-group-item-action">Bridge 21</a>
    </div>
</div>

<!--INCLUDE FOOTER FROM EJS FOOTER-->
<% include ../partials/footer.ejs %>

</body>
</html>